.update-proyect-btn-return{
    width: 5rem;
}

.update-proyect-btn-return a{
    position: relative;
    left: 10%;
}

.Caja-formularios--update-proyect{
    height: 100vh;
    bottom: 2rem;
    width: 70%;
}

.main-form-update-proyecto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.form-update-proyects-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-top: 1rem;
}

.actualizar-project-title{
    font-size: 25px;
    position: relative;
    top: 4%;
}

.form-update-proyects-content__col1{
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    width: 25%;
    position: relative;
    left: 15%;
    top: 35px;
}

.form-update-proyects-content__col1__label{
    font-weight: 400;
    padding-top: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-update-proyects-content__col1__input{
    width: 50%;
    background-color: var(--bg-inputs);
    border-radius: 6px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow-inputs);
    width: 100%;
}

.form-update-proyects-content__col1__textarea{
    background-color: var(--bg-inputs);
    width: 100%;
    height: 5rem;
    border-radius: 8px;
}

.form-update-proyects-content__column2{
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    width: 25%;
    position: relative;
    left: 31%;
    top: 35px;
}

.btns-actualizar-projecto{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-top: 2rem;
}

.btn-actualizar-projecto{
    background-color: var(--btn-update-bg);
    width: 12rem;
    height: 45px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.3);
    top: 2rem;
    color: var(--text-btn-color);
    font-size: 21px;
    text-align: center;
}

.btn-actualizar-projecto:hover{
    background-color: var(--btn-update-bg-hover);
}

.btn-cancelar-update-proyect{
    background-color: var(--boton-cancelar-color);
    width: 12rem;
    height: 45px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.3);
    top: 4rem;
    color: var(--text-btn-color);
    font-size: 21px;
}

.btn-cancelar-actualizar-proyect:hover{
    background-color: var(--boton-cacelar-bg-hover);
}

.form-update-proyects-content_select{
    background-color: var(--bg-inputs);
    height: 2rem;
    border-radius: 5px;
}

.rojo-required{
    color: red;
}