:root{
    --boton-color: #FFFFFF;
    --boton-crear-color: #39A900;
    --boton-cacelar-color: #D4212C;
    --text-btn-color: #FFFFFF;
    --fuente: 'Work Sans', sans-serif;
    --line-color: #A5A5A5;
}

.icon-return-actualizar{
    display: inline-block;
    margin-top: 100px;
    position: relative;
    top: 40px;
    left: 407px;
    font-size: 28px;
}

.actualizar-project-box{
    background-color: var(--boton-color);
    width: 900px;
    height: 490px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    margin-top: 55px;
    position: relative;
    left: 390px;
}

.actualizar-project-title{
    position: relative;
    top: 30px;
    font-size: 25px;
    font-weight: 750;
}

.nombre-project-inv-title{
    position: relative;
    top: 55px;
    left: 125px;
}

.text-entry-box-nombre-del-proyecto{
    border: 1px solid #385C57;
    width: 220px;
    height: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    position: relative;
    top: 98px;
    right: 38px;
}

.fecha-inicio-project-inv-title{
    position: relative;
    top: 25px;
    left: 530px;
}

.text-entry-box-fecha-inicio-del-proyecto{
    border: 1px solid #385C57;
    width: 220px;
    height: 31px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    position: relative;
    top: 64px;
    left: 348px;
}

.descripcion-project-inv-title{
    position: relative;
    top: -96px;
    left: 126px;
}

.text-entry-box-descripcion-del-proyecto{
    border: 1px solid #385C57;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    position: relative;
    top: 140px;
    right: 59px;
}

.fecha-fin-project-inv-title{
    position: relative;
    top: -125px;
    left: 533px;
}

.tex-entry-box-fecha-fin-del-proyecto{
    border: 1px solid #385C57;
    width: 220px;
    height: 31px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    position: relative;
    top: -85px;
    left: 366px;
}

.btn-crear-proyecto-inv{
    background-color: var(--boton-crear-color);
    width: 220px;
    height: 45px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    position: relative;
    top: -50px;
    left: 533px;
    color: var(--text-btn-color);
    font-size: 21px;
}

.btn-cancelar-proyecto-inv{
    background-color: var(--boton-cacelar-color);
    width: 220px;
    height: 45px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    position: relative;
    top: 30px;
    left: 315px;
    color: var(--text-btn-color);
    font-size: 21px;
}