.mainsBoxes__tile-admin{
    font-size: 2rem;
    text-align: center;

}
.mainsBoxes-admin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.form-add-event-container-admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-top: 1rem;
}


.form-add-event-container__label-admin{
    font-weight: 400;
    display: flex;
    gap: 5px;
}

.form-add-event-container__input-admin{
    width: 100%;
    background-color: var(--bg-inputs);
    border-radius: 6px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow-inputs);
}

.form-add-event-container__label-admin-select{
    display: block;
    font-weight: 400;
    padding-top: 12px;
}



/* Botones principales */

.btnEvents__cancelar-admin{
    background-color: var(--boton-cacelar-color);
    width: 15rem;
    height: 45px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    top: 1rem;
    color: var(--text-btn-color);
    font-size: 21px;
}

.btnEvents__cancelar-admin:hover{
    background-color: var(--boton-cacelar-bg-hover);
}


.btnEvents__crear--green-admin{
    background-color: var(--boton-crear-color);
    width: 15rem;
    height: 45px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    top: 1.2rem;
    color: var(--text-btn-color);
    font-size: 21px;
}

.btnEvents__crear--green-admin:hover{
    background-color: var(--boton-crear-bg-hover);
}


.add-creat-btn-return-admin{
    width: 5rem;
}

.add-creat-btn-return-admin a{
    position: relative;
    left: 10%;
}

.add-creat-btn-return-admin:hover{
    transform: scale(1.09);
}
.btns-crear-evento-admin{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-top: 2rem;
}

.modal-semilleros-select{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
    z-index: 1000;
    overflow-y: auto; /* Agrega scroll si el contenido es muy largo */
}

.overlay-Modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-semilleros-set-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-semilleros-set-content  ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
  }
  
  .modal-semilleros-set-content li {
    margin-bottom: 10px;
  }
  
  .modal-semilleros-select button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  .modal-semilleros-select button:hover {
    background-color: #eaeaea;
  }