.create-activity-instructor-title{
    font-size: 2rem;
    text-align: center;
}

.create-activity-instructor-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.form-create-activity-instructor-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-top: 1rem;
}

.form-create-activity-instructor-content__col1__label{
    font-weight: 400;
    display: flex;
    gap: 5px;
}

.form-create-activity-instructor-content__col1__input{
    width: 100%;
    background-color: var(--bg-inputs);
    border-radius: 6px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow-inputs);
}



.btns-instructor-actividad{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-top: 2rem;
}

.btn-crear-instructor-actividad{
    background-color: var(--boton-crear-color);
    width: 15rem;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    color: var(--text-btn-color);
    font-size: 21px;
}

.btn-crear-instructor-actividad:hover{
    background-color: var( --btn-update-bg-hover);
}

.btn-cancelar-instructor-actividad{
    background-color: var(--boton-cacelar-color);
    width: 15rem;
    height: 45px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    top: 1rem;
    color: var(--text-btn-color);
    font-size: 21px;
}

.btn-cancelar-instructor-actividad:hover{
    background-color: var(--boton-cacelar-bg-hover);
}

.btn-return-actividad-instructor {
    z-index: 2;
}