.title-trimestre{
    position: relative;
    top: 1rem;
    left: 29rem;
    font-size: 2rem;
    font-weight: 620;
    background-color: #e4e2e2;
    width: 14rem;
    border-radius: 1.5rem;
    padding: 9px 19px;
    display: inline-block;
}

.title-instructor{
    position: relative;
    top: 4rem;
    left: 29rem;
    font-size: 2rem;
    font-weight: 530;
}

.semaforo-container{
  position: fixed;
  right: 90px;
  top: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.semaforo-box{
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  text-align: center;
}

.green{
    background-color: #4CAF50;
}

.orange{
    background-color: #FF9800;
}

.red{
    background-color: #F44336;
}

.visu-horas-table-admin{
    position: relative;
    left: 1%;
    width: 98%;
    border-collapse: collapse;
}

.visu-horas-table__tr-admin{
    border: 1px solid var(--color-border-bottom-tr);
}

.visu-horas-table__tr-admin:nth-child(even){
    background-color: #f9f9f9;
}

.visu-horas-table__th-admin{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-wrap: nowrap;
    text-align: left;
    padding: 8px;
}

.visu-horas-table__td-admin {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

