@media screen and (min-width: 1024px) {
    .Sidenav-content{
        width: 190px;
        height: 100vh; /* Establece la altura al 100% de la altura de la ventana */
        position: fixed; /* Cambia la posición a fija para que el menú se mantenga visible al desplazar la página */
        top: 0; /* Alinea el menú en la parte superior */
        left: 0; /* Alinea el menú en la parte izquierda */
        padding: 20px; /* Añade relleno al menú */
        background: #04324D;
        overflow-y: auto; /* Añade desplazamiento vertical si el contenido es más grande que el menú */
        z-index: 1000; /* Ajusta el índice z para que el menú aparezca encima del contenido */
        font-family: se;
    }

    .Sidenav-content__menu-content{
        padding: 0px;
        margin: 0;
        list-style: none;
        position: relative;
        right: 20px;
        top: 40px;
    }

    .Sidenav-content__menu-content__Logo-Teinnova{
        width: 187px;
        position: relative;
        right: 8px;
        bottom: 50px;
        border-bottom: 1px solid #f1f1f1;
    }
    .Sidenav-content__menu-content__Logo-Teinnova img{
       width: 180px;
       height: 63px;
       position: relative;
       bottom: 9px;
    }
        
    .Sidenav-content__menu-content__menu-options{
        width: 170px;
        color: #fff;
        padding: 18px;
        font-size: 20px;
    }

    .Sidenav-content__menu-content__menu-options:hover{
        background: #787a7a4d;
        color: #fff;
        cursor: pointer;
    }

}