:root{
    --list-user-bg: #fff;
    --color-border-bottom-tr: #ddd;
    --btn-report-bg: #fff;
    --box-search-bg: #fff;
    --fuente: 'Work Sans', sans-serif;
    --box-shadow-btns: 0px 4px 11px 1px rgba(129,122,122,0.73);

}

.main-container__contenedor-hijo--color{
    width: 100%;
    flex-direction: column;
    height: 100vh;
    padding: 2rem;
    padding-top: 10px;
  
}
.contenedor-tabla-users{
   background-color: #fff;
   height: 100vh;
   padding: 1rem;
   border-radius: 10px;
}
.header-tabla-users{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    width: 100%;
    height: 2.5rem;

}
.user-table {
    width: 100%;
    border-collapse: collapse;
    
  }
  
  .user-table__header {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .user-table__row:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .user-table__cell {
    border: 1px solid #ccc;
    padding: 8px;
  }
  