.add-semillero-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.Caja-formularios--add-semillero{
    height: 100vh;
    bottom: 2rem;
    width: 70%;
}

.main-form-add-semillero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.form-add-semillero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-top: 1rem;
}

.añadir-semillero-title{
    font-size: 25px;
    position: relative;
    top: 4%;
}

.form-add-semillero-content__col1__label{
    font-weight: 400;
    padding-top: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-add-semillero-content__col1__input{
    width: 50%;
    background-color: var(--bg-inputs);
    width: 50%;
    background-color: var(--bg-inputs);
    border-radius: 6px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow-inputs);
    width: 100%;
    width: 100%;
}

.form-add-semillero-content__col1__textarea{
    background-color: var(--bg-inputs);
    width: 100%;
    height: 5rem;
    background-color: var(--bg-inputs);
    width: 100%;
    height: 5rem;
    border-radius: 8px;
}

.add-semillero-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-top: 2rem;
}

.btn-actualizar-añadir-semillero{
    background-color: var(--btn-update-bg);
    width: 15rem;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    color: var(--text-btn-color);
    font-size: 21px;
    text-align: center;
}

.btn-actualizar-añadir-semillero:hover{
    background-color: var(--btn-update-bg-hover);
}

.btn-cancelar-añadir-semillero{
    background-color: var(--boton-cancelar-color);
    width: 15rem;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    color: var(--text-btn-color);
    font-size: 21px;
}

.btn-cancelar-añadir-semillero:hover{
    background-color: var(--boton-cancelar-bg-hover);
}

.rojo-required{
    color: red;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-left-color: #fff;
    margin: auto;
    display: block;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  