*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footerBottom{
    background-color:#70B22D ;
    padding: 20px;
    text-align: center;
    height: 80px;
}
.footerBottom p{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
