.btn-blanco{
    width: 10rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    background-color: #fff;
    height: 2.5rem;
}

.btn-blanco:hover{
    background-color: #dddcdc;
}

/* Clase que modifica el ButtonBlanco */
.btn-blanco--modify{
    width: 12rem;
}
.btn-verde{
    background-color: #70B22D;
    color: white;
}
.btn-verde:hover{
    background-color: #04324D;
}
.btn-azul{
    background-color: #04324D;
    color: white;
}
.btn-azul:hover{
    background-color: #70B22D;
}