.boton-verde{
    background-color: #39A900;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 1rem;
    color: #fff;
    gap: 1rem;
}

.boton-verde:hover{
    background-color: #349703;
}