.Caja-formularios{
    background-color: var(--update-users-box-bg);
    position: relative;
    top: 0rem;
    width: 70%;
    left: 15%;
    height: auto;
    border-radius: 8px;
    box-shadow: var(--box-shadow-users-box);
}
