/* :root{
    
} */

body {
    margin: 0;
    font-family: 'Work sans';
    background-color: #f5f5f5;
  }

/* Barra lateral izquierda Dashboard */
h2{ text-align: center; }

.dashBoard{
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 5px ;
    width: 15%;
    height: 98%;
    color: white;
    background-color: #03044d;
    
}
 
/* header del perfil */
.perfil{
    position: relative; 
    left: 300px;
    height: 90px;
    width: 82%;
    text-align: center;
    padding-top: 25px ;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

/* Botones principales */
button:hover{
    background-color: rgb(126, 129, 145);}

.functional__2{
    position: relative;
    top: 30px;
    left: 18%;
    padding: 5px 15px;
    margin: 0px 30px 0px 0px;
    border: none;
    border-radius: 8px;
    background-color: white;
    font-size: small;
    cursor: pointer;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.functional__3{
    padding: 5px 120px;
    position: relative;
    top: 30px;
    left: 38%;
    margin: 0px 30px 0px 0px;
    border: none;
    border-radius: 8px;
    background-color: white;
    font-size: small;
    cursor: pointer;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.functional__4--green {
    position: relative;
    top: 30px;
    left: 38%;
    padding: 5px 15px;
    margin: 0px 30px 0px 0px;
    border: none;
    border-radius: 8px;
    background-color: white;
    font-size: small;
    cursor: pointer;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.functional__4--green{
    color: white;
    background-color: #39a900;}

.functional__4--green:hover{
    color: black;
    background-color: #2e8105}



/* Botones secundarios */
.functional2__delete,
.functional2__edit{
    position: relative;
    top: 170px;
    left: 87%;
    padding: 5px 15px ;
    margin-left: 5px;
    border: none;
    border-radius: 8px;
    background-color: white;
    font-size: small;
    cursor: pointer;
    z-index: 1;
}



/* Títulos de la informacion del contenido*/
.mainPart{
    position: absolute;
    top: 250px;
    left: 300px;
    height: 69%;
    width: 79%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.mainPart__nombre   { margin-left: 25px; margin-right: 30px; margin-top: 30px;  }
.mainPart__fechaI   { margin-right: 30px; margin-top: 30px; }
.mainPart__fechaF   { margin-right: 30px; margin-top: 30px; }
.mainPart__cantidad { margin-right: 40px; margin-top: 30px; }
.mainPart__lugar    { margin-right: 40px; margin-top: 30px; }
.mainPart__tipo     { margin-left: 40px; margin-top: 30px; }


.rowes{
    position:relative;
    left: 40px;
    width: 90%;
    border-bottom: 1px solid black;
}

h4{
    float: left;
    padding: 0px  30px;
}


/* Contenido de la pagina web como tal */
.contenido{ float: left; }
.contenido__box1{ margin-left: 25px; margin-right: 80px ;}
.contenido__box2{ margin-right: 120px;}
.contenido__box3{ margin-right: 95px;}
.contenido__box4{ margin-right: 200px;}
.contenido__box5{ margin-right: 120px;}

p{
    font-size: small;
    padding: 0px 30px;
}