.Header-general {
    /* border-bottom: 5px solid #70B22D ; */
    background-color: #70B22D;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 30px;
    height: 50px;
    z-index: 1000; /* Asegura que el encabezado esté por encima del resto del contenido */
    display: flex;
    justify-content: space-between; /* Alinea los elementos al principio y al final */
    align-items: center; /* Centra verticalmente los elementos */
    color: #fff ;
    font-weight: 600;
}
.Header-general__opciones{
    display: flex;
    justify-content: end;
    width: 100%;
    font-weight: bold;
    align-items: center;
    gap: 3rem;
}
.Header-general_options{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.Header-general__Search-box {
    width: 80px;
    order: 0; /* Cambia el orden del elemento */
    position: relative;
    left: 15%;
    bottom: 9px;
}

.Header-general__Search-box input{
    border-radius: 10px;
    width: 105px;
    height: 30px;
    background-color: #f5f5f5;
}

.Header-general__Search-box input::placeholder{
    position: relative;
    left: 25px;
    color: #04324D;
    font-weight: bold;
}

.Header-general__Search-box_icon{
    position: relative;
    top: 25px;
    left: 5px;
}

.Header-general__logout-link {
    order: 2; /* Cambia el orden del elemento */
}

.Header-general__logout-link__icon{
    color: #fff;
    font-size: 20px;
}

.Header-general__user_name__icon{
    font-size: 25px;
    color: #04324D;
    margin-left: 3px;
}

.Header-general__logout-link__text{
    color: #04324D;
}

.Header-general__logout-link__text:hover{
    color: #063f60;
    transform: scale(1.09);
}

.user-name{
    color: #04324D;
    font-weight: 500;
}