.caja-vs-evento{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.caja-vs-evento__tile{
    font-size: 2rem;
    text-align: center;
}

.form-vs-evento-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-top: 1rem;
}

.form-vs-evento-container__label{
    font-weight: 400;
    display: flex;
    margin-bottom: 10px;
    gap: 5px;
}

.form-vs-evento-container__input{
    width: 100%;
    background-color: var(--bg-inputs);
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow-inputs);
}

.form-vs-evento-container__label-select{
    display: block;
    font-weight: 400;
    padding-top: 12px;
}

.form-vs-event-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-top: 2rem;
}
/* Botones principales */

.btn-vs-evento-container__cancelar{
    background-color: var(--boton-cacelar-color);
    width: 15rem;
    height: 45px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    color: var(--text-btn-color);
    font-size: 21px;
}

.btn-vs-evento-container__cancelar:hover{
    background-color: var(--boton-cacelar-bg-hover);
}


.btn-vs-evento-container__crear--green{
    background-color: var(--boton-crear-color);
    width: 15rem;
    height: 45px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    color: var(--text-btn-color);
    font-size: 21px;
}

.btn-vs-evento-container__crear--green:hover{   
    background-color: var(--boton-crear-bg-hover);
}
