:root{
    --boton-color: #FFFFFF;
    --fuente: 'Work Sans', sans-serif;
    --line-color: #A5A5A5;
}


.icon-return{
    display: inline-block;
    position: relative;
    top: 25px;
    right: 890px;
    font-size: 28px;
}

.icon-calendar-2{
    display: inline-block;
    position: relative;
    top: -6px;
    right: 20px;
}

.cronograma-link-1{
    background-color: var(--boton-color);
    width: 170px;
    height: 29px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    margin-top: 100px;
    position: relative;
    left: 1205px;
}

.cronograma-link-1__cronograma-text{
    text-align: center;
    position: relative;
    top: -42px;
    left: 9px;
    font-family: var(--fuente);
}

.visualize-lay-off-project-box{
    background-color: var(--boton-color);
    width: 1100px;
    height: 465px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    margin-top: 35px;
    position: relative;
    left: 300px;
}

.visualize-lay-off-projecto-box__visualize-lay-off-project-title-1{
    position: relative;
    top: 28px;
    left: 15px;
    font-family: var(--fuente);
    font-weight: 800;
}

.visualize-lay-off-project-box__visualize-lay-off-project-title-2{
    position: relative;
    top: -10px;
    left: 220px;
    font-family: var(--fuente);
    font-weight: 800;
}

.visualize-lay-off-project-box__visualize-lay-off-project-title-3{
    position: relative;
    top: -48px;
    left: 490px;
    font-family: var(--fuente);
    font-weight: 800;
}

.visualize-lay-off-project-box__visualize-lay-off-project-title-4{
    position: relative;
    top: -86px;
    left: 725px;
    font-family: var(--fuente);
    font-weight: 800;
}

.my-horizontal-line-title{
    width: 1070px;
    position: relative;
    top: -80px;
    background-color: var(--line-color);
}

.icon-list-visus{
    display: inline-block;
    position: relative;
    top: -69px;
    left: 1020px;
    font-size: 22px;
}

.icon-transh-visus{
    display: inline-block;
    position: relative;
    top: -69px;
    left: 1030px;
    font-size: 22px;
}

.name-project-visus{
    position: relative;
    top: -115px;
    left: 15px;
    font-family: var(--fuente);
}

.start-date-project-visus{
    position: relative;
    top: -149px;
    left: 220px;
    font-family: var(--fuente);
}

.final-date-project-visus{
    position: relative;
    top: -182px;
    left: 490px;
    font-family: var(--fuente);
}

.description-project-visus{
    position: relative;
    top: -217px;
    left: 725px;
    font-family: var(--fuente);
}