.main-form-program-instructor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.form-add-program-container-instructor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-top: 1rem;
}

.create-program-title-instructor{
    font-size: 25px;
    position: relative;
    top: 4%;
}


.form-add-program-container__col1__label-instructor{
    font-weight: 400;
    padding-top: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-add-program-container__col1__input-instructor{
    width: 100%;
    background-color: var(--bg-inputs);
    border-radius: 6px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow-inputs);
}

.form-add-program-container__col1__textarea-instructor{
    background-color: var(--bg-inputs);
    width: 100%;
    height: 5rem;
    border-radius: 8px;
   
}

.btns-crear-program{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-top: 2rem;
}
.btn-crear-program{
    background-color: var(--btn-update-bg);
    width: 12rem;
    height: 45px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.3);
    top: 2rem;
    color: var(--text-btn-color);
    font-size: 21px;
    text-align: center;
}

.btn-crear-program:hover{
    background-color: var(--btn-update-bg-hover);
}
.btn-cancelar-program{
    background-color: var(--boton-cancelar-color);
    width: 12rem;
    height: 45px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.3);
    top: 4rem;
    color: var(--text-btn-color);
    font-size: 21px;
}

.btn-cancelar-program:hover{
    background-color: var(--boton-cancelar-bg-hover);
}
.rojo-required{
    color: red;
}
.form-add-program-container-instructor__select{
    background-color: var(--bg-inputs);
    height: 2rem;
    border-radius: 5px;

}

.btn-return-programa {
    z-index: 2;
}