:root{
    --boton-color: #FFFFFF;
    --boton-crear-color: #39A900;
    --boton-cacelar-color: #D4212C;
    --text-btn-color: #FFFFFF;
    --fuente: 'Work Sans', sans-serif;
    --line-color: #A5A5A5;
}

.icon-return-update-activity{
    display: inline-block;
    margin-top: 93px;
    position: relative;
    top: 50px;
    left: 407px;
    font-size: 32px;
}

.actualizar-actividades-titulo{
    position: relative;
    top: 08px;
    left: 65px;
    font-size: 25px;
    font-weight: 650;
}

.uptade-activity-box{
    background-color: var(--boton-color);
    width: 58%;
    height: 67vh;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    margin-top: 30px;
    position: relative;
    left: 390px;
}

.uptade-nombre-activity-title{
    position: relative;
    top: 55px;
    left: 125px;
}

.text-entry-box-nombre-update-actividad{
    border: 1px solid #385C57;
    width: 220px;
    height: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    position: relative;
    top: 98px;
    right: 49px;
}

.uptade-tarea-activity-title{
    position: relative;
    top: 25px;
    left: 530px;
}

.text-entry-box-tarea-uptade-actividad{
    border: 1px solid #385C57;
    width: 220px;
    height: 31px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    position: relative;
    top: 64px;
    left: 484px;
}

.update-fecha-activity-title{
    position: relative;
    top: 100px;
    left: 126px;
}

.text-entry-box-fecha-entrega-uptade-actividad{
    border: 1px solid #385C57;
    width: 220px;
    height: 31px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    position: relative;
    top: 140px;
   left: 76px;
}

.uptade-resultado-activity-title{
    position: relative;
    top: 70px;
    left: 533px;
}

.text-entry-box-resultado-uptade-actividad{
    border: 1px solid #385C57;
    width: 220px;
    height: 31px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    position: relative;
    top: 110px;
    left: 456px;
}

.uptade-producto-activity-title{
    position: relative;
    top: 135px;
    left: 126px;
}

.text-entry-box-producto-uptade-actividad{
    border: 1px solid #385C57;
    width: 220px;
    height: 31px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    position: relative;
    top: 180px;
   left: 54px;
}

.uptade-responsable-activity-title{
    position: relative;
    top: 106px;
    left: 538px;
}

.text-entry-box-responsable-uptade-actividad{
    border: 1px solid #385C57;
    width: 220px;
    height: 31px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    position: relative;
    top: 151px;
    left: 335px;
}

.btn-actualizar-actividad{
    background-color: var(--boton-crear-color);
    width: 220px;
    height: 45px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    position: relative;
    top: 190px;
    left: 542px;
    color: var(--text-btn-color);
    font-size: 21px;
}

.btn-cancelar-actividad-uptd{
    background-color: var(--boton-cacelar-color);
    width: 220px;
    height: 45px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    position: relative;
    top: 190px;
    right: 94px;
    color: var(--text-btn-color);
    font-size: 21px;
}