.main-container__contenedor-hijo--size{
    height: 86.3vh;
}

.create-project-instructor-title{
    font-size: 25px;
}

.form-add-pryect-instructor-container__col1{
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    width: 25%;
    position: relative;
    left: 10%;
    top: 10px;
}

.form-add-pryect-instructor-container__col1__label{
    font-weight: 400;
    padding-top: 12px;
}

.form-add-pryect-instructor-container__col1__input{
    width: 15rem;
    border: 1px solid #000;
    border-radius: 6px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow-inputs);
}

.form-add-pryect-instructor-container__col1__textarea{
    border: 1px solid #385C57;
    width: 15rem;
    height: 15rem;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
}

.form-add-pryect-instructor-container__column2{
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    width: 25%;
    position: relative;
    left: 28%;
    top: 10px;
}

