:root{
    --boton-color: #FFFFFF;
    --boton-crear-color: #39A900;
    --boton-cacelar-color: #D4212C;
    --text-btn-color: #FFFFFF;
    --fuente: 'Work Sans', sans-serif;
    --line-color: #A5A5A5;
}

.crear-actividades-titulo{
    position: relative;
    top: 0rem;
    font-size: 25px;
    font-weight: 650;
}


.form-create-activity-content{
    display: flex;
    width: 100%;
    height: 80%;
    position: relative;
    top: 1rem;
}

.create-activity-title{
    position: relative;
    top: 24px;
    font-size: 25px;
}

.form-create-activity-content__col1{
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    width: 25%;
    position: relative;
    left: 10%;
    top: 10px;
}

.form-create-activity-content__col1__label{
    font-weight: 400;
    padding-top: 12px;
}

.form-create-activity-content__col1__input{
    width: 15rem;
    border: 1px solid #000;
    border-radius: 6px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow-inputs);
}

.form-create-activity-content__column2{
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    width: 25%;
    position: relative;
    left: 28%;
    top: 20px;
}

.btn-crear-actividad{
    background-color: var(--boton-crear-color);
    width: 15rem;
    height: 45px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    position: relative;
    top: 4rem;
    color: var(--text-btn-color);
    font-size: 21px;
}

.btn-crear-actividad:hover{
    background-color: var(--boton-crear-bg-hover);
}

.btn-cancelar-actividad{
    background-color: var(--boton-cacelar-color);
    width: 15rem;
    height: 45px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    position: relative;
    top: 4rem;
    color: var(--text-btn-color);
    font-size: 21px;
}

.btn-cancelar-activida:hover{
    background-color: var(--boton-cacelar-bg-hover);
}