/* :root{
    
} */
body {
    margin: 0;
    font-family: 'Work sans';
    background-color: #f5f5f5;
  }
 
/* header del perfil */
.perfil{
    position: absolute; 
    left: 300px;
    height: 90px;
    width: 82%;
    text-align: center;
    padding-top: 25px ;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

/* Botones principales */
.functionales__1,
.functionales__2,
.functionales__3,
.functionales__4--green {
    position: relative;
    top: 30px;
    left: 300px;
    padding: 5px 15px;
    margin: 0px 30px 0px 0px;
    border: none;
    border-radius: 8px;
    background-color: white;
    font-size: small;
    cursor: pointer;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}



.functionales__4--green{
    color: white;
    background-color: #39a900;}

.functionales__4--green:hover{
    color: black;
    background-color: #2e8105}


/* Botones secundarios */
.functionales2__delete,
.functionales2__edit{
    position: relative;
    top: 170px;
    left: 87%;
    padding: 5px 15px ;
    margin-left: 5px;
    border: none;
    border-radius: 8px;
    background-color: white;
    font-size: small;
    cursor: pointer;
    z-index: 1;
}



/* Títulos de la informacion del contenido*/
.mainPage{
    position: absolute;
    top: 250px;
    left: 300px;
    height: 69%;
    width: 79%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.mainPage__nombre       { margin-left: 25px; margin-top: 30px;     }
.mainPage__tarea        { margin-right: 25px; margin-top: 30px; }
.mainPage__fecha        { margin-top: 30px; }
.mainPage__resultado    { margin-right: 25px; margin-top: 30px; }
.mainPage__producto     { margin-right: 25px; margin-top: 30px; }
.mainPage__responsable  { margin-right: 25px; margin-top: 30px; }


.rows{
    position:relative;
    left: 40px;
    width: 90%;
    border-bottom: 1px solid black;
}



/* Contenido de la pagina web como tal */
.contents{ float: left; }
.contents__box1{ margin-left: 25px; margin-right: 165px ;}
.contents__box2{ margin-right: 60px;}
.contents__box3{ margin-right: 60px;}
.contents__box4{ margin-right: 80px;}
.contents__box5{ margin-right: 95px;}


