/* :root{
    
} */

body {
    margin: 0;
    font-family: 'Work sans';
    background-color: #f5f5f5;
  }

/* Barra lateral izquierda Dashboard */
h2{ text-align: center; }

.dashBoard{
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 5px ;
    width: 15%;
    height: 98%;
    color: white;
    background-color: #03044d;
    
}
 
/* header del perfil */
.perfil{
    position: relative; 
    left: 300px;
    height: 90px;
    width: 82%;
    text-align: center;
    padding-top: 25px ;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

/* Botones principales*/
.funcionales__1,
.funcionales__2,
.funcionales__3,
.funcionales__4--green {
    position: relative;
    top: 30px;
    left: 300px;
    padding: 5px 15px ;
    margin: 0px 30px 0px 0px;
    border: none;
    border-radius: 8px;
    background-color: white;
    font-size: small;
    cursor: pointer;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

button:hover{
    background-color: rgb(126, 129, 145);}

.funcionales__4--green{
    color: white;
    background-color: #39a900;}

.funcionales__4--green:hover{
    color: black;
    background-color: #2e8105}



/* Títulos de la informacion del contenido*/
.mainPage{
    position: absolute;
    top: 250px;
    left: 300px;
    height: 69%;
    width: 79%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.row{
    position:relative;
    left: 20px;
    width: 90%;
    border-bottom: 1px solid black;
}

h4{
    float: left;
    margin-left:  30px;
    padding: 0px  30px;
}


/* Contenido de la pagina web como tal */
.content{ float: left; }


p{
    float: left;
    font-size: small;
    margin-left: 30px;
    padding: 0px 30px;
}


.funcionales2__delete,
.funcionales2__edit{
    position: relative;
    top: 95px;
    left: 5%;
    padding: 5px 15px ;
    margin-left: 5px;
    border: none;
    border-radius: 8px;
    background-color: white;
    font-size: small;
    cursor: pointer;
    
}