.update-user-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.update-users-box__title{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.update-users-box__form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-top: 9rem;
    height: 78vh;
}

.update-users-box__form-container__options-col1__label{
    font-weight: 400;
    padding-top: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.update-users-box__form-container__options-col1__input{
    width: 100%;
    background-color: var(--bg-inputs);
    border-radius: 6px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow-inputs);
}


.update-users-box__form-container__btn-update{
    background-color: var(--btn-update-bg);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    margin-top: 2rem;
    margin-bottom: 9rem;
    position: relative;
    bottom: 1rem;
    transform: translateY(-10px);
}

.update-users-box__form-container__btn-update:hover{
    background-color: var(--btn-update-bg-hover);
}


.btn-modificar {
    z-index: 2;
}