@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --box-search-bg: #fff;
    --fuente: 'Work Sans', sans-serif;
    --list-user-bg: #fff;
    --color-border-bottom-tr: #ddd;
    --btn-report-bg: #fff;
    --btn-report-bg-hover: #d9d7d7;
    --box-shadow-btns: 0px 4px 11px 1px rgba(129,122,122,0.73);
    --box-shadow-users-box: -1px 3px 5px 6px rgba(0,0,0,0.09);
    --box-shadow-inputs:  -1px 3px 5px 6px rgba(0,0,0,0.01);
    --btn-user-add-box-bg: #70B22D;
    --sidenav-bg: #04324D;
    --update-users-box-bg: #fff;
    --btn-update-bg: #70B22D;
    --btn-update-bg-hover: #349703;
    --boton-cacelar-color: #D4212C;
    --boton-cacelar-bg-hover: #c31e29;
    --color--container-inputs: #E7E7E7;
    --boton-crear-color: #70B22D;
    --boton-crear-bg-hover: #349703;
    --boton-cancelar-color: #D4212C;
    --boton-cancelar-bg-hover: #c31e29;
    --bg-inputs: #ECEFF1;    
    --boton-color: #FFFFFF;
    --text-btn-color: #FFFFFF;
    --line-color: #A5A5A5;
}

*{
    font-family: var(--fuente);
}
  
body{
    background-color: #F5F5F5;
}

/* Componentes globales de la estructura del sistema */

/* este estilo es para el contenedor padre, el que se pone en las rutas de App.jsx */
.main-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estos estilos se colocan en el contenedor hijo de la pagina al primero. Recuerden que lo pueden modificar
pero solo en los estilos de la pagina a usar */
.main-container__contenedor-hijo{
    display: flex;
    margin-left: 200px;
    width: 100%;
    margin-top: 60px;
    flex-direction: column;
    padding: 2rem;
    padding-top: 10px;
}
