:root{
    --boton-color: #FFFFFF;
    --fuente: 'Work Sans', sans-serif;
    --text-buscar-color: #A5A5A5;
    --boton-crear-color: #39A900;
    --text-crear-color: #FFFFFF;
}

@media screen and (min-width: 1024px) {
    .listar-proyectos-main-container{
        margin-top: 10px;
        padding-top: 20px;
        height: 90vh;
    }

    .reporte-btn{
        background-color: var(--boton-color);
        width: 110px;
        height: 27px;
        border-radius: 8px;
        box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
        position: relative;
        top: 135px;
        left: 280px;
    }

    .reporte-btn__reporte-text{
        position: relative;
        top: -22px;
        bottom: 20px;
        text-align: center;
        font-family: var(--fuente);
    }

    .icon-report{
        display: inline-block;
        position: relative;
        left: 5px;
    }

    .busqueda-option{
        background-color: var(--boton-color);
        width: 170px;
        height: 29px;
        border-radius: 8px;
        box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
        position: relative;
        top: 109px;
        left: 500px;
    }

    .busqueda-option__busqueda-text{
        position: relative;
        bottom: 20px;
        text-align: center;
        font-family: var(--fuente);
        color: var(--text-buscar-color);
    }

    .icon-search{
        display: inline-block;
        position: relative;
        left: 5px;
    }

    .cronograma-link{
        background-color: var(--boton-color);
        width: 170px;
        height: 29px;
        border-radius: 8px;
        box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
        margin-top: -42px;
        position: relative;
        left: 55%;
        top: 125px;
    }

    .cronograma-link__cronograma-text{
        position: relative;
        left: 5px;
        bottom: 20px;
        text-align: center;
        font-family: var(--fuente);
    }

    .icon-calendar{
        display: inline-block;
        position: relative;
        left: 8px;
    }

    .crear-box{
        background-color: var(--boton-crear-color);
        width: 90px;
        height: 29px;
        border-radius: 8px;
        box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
        margin-top: -29px;
        position: relative;
        left: 1275px;
        top: 129px;
    }

    .crear-box__crear-text{
        position: relative;
        top: -23px;
        left: 5px;
        bottom: 22px;
        text-align: center;
        font-family: var(--fuente);
        color: var(--text-crear-color);
    }

    .icon-plus{
        display: inline-block;
        position: relative;
        left: 4px;
        color: #F3F3F3;
        font-size: 23px;
    }

    .list-project-box__header{
        border-bottom: 1px solid #A5A5A5;
        height: 50px;
    }

    .list-project-box{
        background-color: var(--boton-color);
        width: 1100px;
        height: 460px;
        border-radius: 8px;
        box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
        margin-top: 70px;
        position: relative;
        left: 18%;
        top: 100px;
    }

    .list-project-box__list-project-title-1{
        width: 150px;
        text-wrap: nowrap;
        position: relative;
        top: 8px;
        left: 15px;
        font-family: var(--fuente);
        font-weight: 800;
    }

    .list-project-box__list-project-title-2{
        width: 150px;
        text-wrap: nowrap;
        position: relative;
        top: -15px;
        left: 220px;
        font-family: var(--fuente);
        font-weight: 800;
    }

    .list-project-box__list-project-title-3{
        width: 150px;
        text-wrap: nowrap;
        position: relative;
        top: -39px;
        left: 490px;
        font-family: var(--fuente);
        font-weight: 800;
    }

    .list-project-box__list-project-title-4{
        text-wrap: nowrap;
        position: relative;
        width: 150px;
        top: -62px;
        left: 725px;
        font-family: var(--fuente);
        font-weight: 800;
    }

    .list-project-box__rows{
        position: relative;
        top: 90px;
        border-bottom: 1px solid #A5A5A5;
    }

    .icon-eyesolid{
        display: inline-block;
        position: relative;
        top: -69px;
        left: 1000px;
        font-size: 22px;
    }

    .icon-list{
        display: inline-block;
        position: relative;
        top: -69px;
        left: 1010px;
        font-size: 22px;
    }

    .icon-transh{
        display: inline-block;
        position: relative;
        top: -69px;
        left: 1015px;
        font-size: 22px;
    }
}



