.inputBoxes-olderbox-lider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-top: 1rem;  
}

.inputBoxes-lider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.inputBoxes-title-lider{
    font-size: 2rem;
    text-align: center;
}


.unputBoxes-label-lider{
    font-weight: 400;
    padding-top: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.unputBoxes-input-lider{
    width: 100%;
    background-color: var(--bg-inputs);
    border-radius: 6px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow-inputs);
}



.buttonsCreating-lider{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-top: 2rem;
}

.buttonsCreating-crear-lider{
    background-color: var(--boton-crear-color);
    width: 15rem;
    height: 45px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    top: 1.2rem;
    color: var(--text-btn-color);
    font-size: 21px;
}

.buttonsCreating-crear-lider:hover{
    background-color: var(--boton-crear-bg-hover);
}

.buttonsCreating-cancelar-lider {
    background-color: var(--boton-cacelar-color);
    width: 15rem;
    height: 45px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.73);
    top: 1rem;
    color: var(--text-btn-color);
    font-size: 21px;
}

.buttonsCreating-cancelar-lider:hover{
    background-color: var(--boton-cacelar-bg-hover);
}



