.mainTitles{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.inputBoxes__titlecaja{
    margin: 30px;
    font-size: 20px;
    text-align: center;
    position: relative;
    bottom: 2rem;
}


.unputBoxes__label{
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    width: 25%;
    position: relative;
    left: 10%;
    top: 10px;
}

.unputBoxes__input{
    width: 15rem;
    border: 1px solid #000;
    border-radius: 6px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow-inputs);
}


.add-creat-btn-return{
    width: 5rem;
}

.add-creat-btn-return a{
    position: relative;
    left: 10%;
}

.add-event-btn-return:hover{
    transform: scale(1.09);
}


.inputBoxes__olderbox{
    margin: 40px 70px;
   
}




/* Botones principales */
.buttonsCreating__cancelar,
.buttonsCreating__crear--green{
    position: relative;
    top: 84%;
    left: 5%;
    padding: 5px 15px;
    border: none;
    border-radius: 8px;
    font-size: small;
    cursor: pointer;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.buttonsCreating__cancelar{
    color: white;
    background-color: #d4212c;
    font-size: medium;
    padding: 8px 20px;
}

.buttonsCreating__cancelar:hover{
    background-color: #f80616;
}


.buttonsCreating__crear--green{
    color: white;
    background-color: #39a900;
    font-size: medium;
    padding: 8px 30px;
    left: 10%; 
}

.buttonsCreating__crear--green:hover{
    background-color: #57c91e;
}



@media screen and (min-width: 1338.18px) {

    .inputBoxes__titlecaja{
        margin: 30px;
        font-size: 20px;
        text-align: center;
        position: relative;
        top: 1rem;
    }

    .unputBoxes__label{
        display: flex;
        flex-direction: column;
        text-wrap: nowrap;
        text-align: left;
        width: 25%;
        position: relative;
        left: 36%;
        top: 35px;
    }
    
    .unputBoxes__input{
        width: 17rem;
        border: 1px solid #000;
        border-radius: 6px;
        padding: 8px;
        margin-top: 8px;
        margin-bottom: 10px;
        box-shadow: var(--box-shadow-inputs);
        position: relative;
        left: 35%;
        top: 10px;
        
    }

    /* Botones principales */
    .buttonsCreating__cancelar,
    .buttonsCreating__crear--green{
        position: relative;
        top: 84%;
        left: 38%;
        padding: 5px 15px;
        border: none;
        border-radius: 8px;
        font-size: small;
        cursor: pointer;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    }

    .buttonsCreating__cancelar{
        color: white;
        background-color: #d4212c;
        font-size: medium;
        padding: 8px 20px;
    }

    .buttonsCreating__cancelar:hover{
        background-color: #f80616;
    }


    .buttonsCreating__crear--green{
        color: white;
        background-color: #39a900;
        font-size: medium;
        padding: 8px 30px;
        left: 42%; 
    }

    .buttonsCreating__crear--green:hover{
        background-color: #57c91e;
    }
}