.mainsTitles{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.inputBoxes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.inputBoxes__titlecaja{
    font-size: 30px;
    text-align: center;
    padding: 1rem;
}


.unputBoxes__label{
    display: flex;
    text-wrap: nowrap;
    width: 25%;
    gap: 5px;

}

.unputBoxes__input{
    width: 100%;
    border-radius: 6px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow-inputs);
    background-color: var(--bg-inputs);
}


.add-event-btn-return:hover{
    transform: scale(1.09);
}


.inputBoxes__olderbox{
    width: 80%;
    padding-top: 2rem;
   
}


.buttonsCreating{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    margin-top: 2rem;
}

/* Botones principales */
.buttonsCreating__cancelar,
.buttonsCreating__crear--green{
    padding: 5px 15px;
    border: none;
    border-radius: 8px;
    font-size: small;
    cursor: pointer;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    width: 10rem;
}

.buttonsCreating__cancelar{
    color: white;
    background-color: #d4212c;
    font-size: medium;
    padding: 8px 20px;
}


.buttonsCreating__cancelar:hover{
    background-color: var(--boton-cacelar-bg-hover);
}


.buttonsCreating__crear--green{
    color: white;
    background-color: #39a900;
    font-size: medium;
    padding: 8px 30px;
    left: 10%; 
}

.buttonsCreating__crear--green:hover{
    background-color: var(--boton-crear-bg-hover);
}
