.assign-hours-admin-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.Caja-formularios--assign-hours-admin{
    height: 100vh;
    bottom: 2rem;
    width: 70%;
}

.main-assign-hours-admin-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.assign-hours-admin-main-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-top: 1rem;
}

.assign-hours-admin-main-title{
    font-size: 25px;
    position: relative;
    top: 4%;
}

.form-assign-hours-admin-content__col1__label{
    font-weight: 400;
    padding-top: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-assign-hours-admin-content__col1__span{
    width: 100%;
    background-color: var(--bg-inputs);
    border-radius: 6px;
    padding: 8px;
    box-shadow: var(--box-shadow-inputs);
}

.form-assign-hours-admin-content__col1__input{
    width: 100%;
    background-color: var(--bg-inputs);
    border-radius: 6px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow-inputs);
}

.form-assign-hours-admin-container__select{
    width: 100%;
    background-color: var(--bg-inputs);
    border-radius: 6px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow-inputs);
}

.list-instructor{
    margin-top: 8px;
    background: #F3F3F3;
    border-radius: 10px;
}

.instructor-item{
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
}

.icon-ins{
    margin-left: 1rem;
}
.instructor-name {
    font-weight: bold;
}

.establecer-button {
    background: #4caf50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.asignar-horas {
    margin-top: 20px;
}

.asignar-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.asignar-horas-button {
    background: #04324D;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.asignar-list {
    background: #F3F3F3;
    padding: 10px;
    border-radius: 10px;
}

  
.asignar-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}

.asignar-title {
    font-weight: bold;
    margin-bottom: 10px;
}


.asig-horas-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-top: 2rem;
}

.asig-cancelar-btn{
    background-color: var(--boton-cancelar-color);
    width: 12rem;
    height: 45px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.3);
    top: 4rem;
    color: var(--text-btn-color);
    font-size: 21px;
}

.asig-cancelar-btn:hover{
    background-color: var(--boton-cancelar-bg-hover);
}
 
.asig-crear-btn{
    background-color: var(--btn-update-bg);
    width: 12rem;
    height: 45px;
    border-radius: 8px;
    box-shadow: 0px 4px 11px 1px rgba(129,122,122,0.3);
    top: 2rem;
    color: var(--text-btn-color);
    font-size: 21px;
    text-align: center;
}

.asig-crear-btn:hover{
    background-color: var(--btn-update-bg-hover);
}