.semillero-main-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  
}
.semillero-main-container__info-semillero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    width: 100%;
    flex-direction: column;
    margin-top: 60px;
}

.semillero-main-container__header{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 2.3rem;
    margin-top: 1rem;
    margin-left: 5rem;
    justify-content: space-between;
    gap: 0px;
   
}
.btns-semillero{
    display: flex;
    gap: 1rem;
}


.semillero-main-container__btn{
    width: 10rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.semillero-main-container__datos-semillero{
    width: 95%;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #fff;
    height: 100vh;
    border-radius: 10px;

}
.semillero-main-container__campos-informacion{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
    left: 2.5rem;
    margin-top: 2rem;
}
.semillero-main-container__campos-informacion section{
    display: flex ;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.semillero-main-container__campos-informacion__inputs{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.semillero-main-container__campos-informacion__inputs h2, .semillero-main-container__campos-informacion__inputs--integrantes{
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
}
.semillero-main-container__campos-informacion__inputs--integrantes{
    width: 80%;
    height: 40vh;
    overflow-y: auto;
}
.semillero-main-container__campos-informacion__inputs h1{
    font-weight: 600;

}

.integrantes{
    padding: 5px;
}


